# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# 后端环境变量
/backend/.env

# 临时音频文件
/backend/temp_audio/*.wav
/backend/temp_audio/*.mp3
/temp_audio/*.wav
/temp_audio/*.mp3

# Node.js
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/npm-debug.log
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# 前端环境变量
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# 操作系统文件
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# 编辑器文件
.idea/
.vscode/
*.swp
*.swo 